<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="common/header"></div>
    <div th:replace="common/head"></div>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>






<ul th:each="board : ${boardList}">
    <li>
    [[ ${board.title} ]]/
    [[ ${board.content} ]]
        ( [[ ${#lists.size(board.comments)} ]] )
        <br>
        <a th:href="@{/board/detail(id=${board.id})}">자세히</a>
        <a th:href="@{/board/delete(id=${board.id})}">삭제</a>
        <a th:href="@{/board/update(id=${board.id})}">수정</a>
    </li>
</ul>

<ul class="pagination">
    <li class="page-item"><a class="page-link" th:href="@{/board/list(page=${page < 2 ? 1 :page-1})}">Previous</a></li>
    <th:block th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}">
        <li class="page-item">
            <a th:href="@{/board/list(page=${pageNumber})}"
               th:unless="${pageNumber == page}" th:text="${pageNumber}" class="page-link"></a>
            <a th:if="${pageNumber == page}" th:text="${pageNumber}" class="page-link" style="background: lightskyblue"></a>
        </li>
    </th:block>
    <li class="page-item"><a class="page-link" th:href="@{/board/list(page=${page<0?0:page+1})}">Next</a></li>
</ul>



</body>
</html>